# Dependencies
node_modules

# Build output
dist

# Git
.git
.gitignore

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Misc
*.md
LICENSE
assets/
.prettierignore
.vercel
.firebaserc
firebase.json
Temp
*.log
